<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniu.mybatis.mapper.AdministratorMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into administrator(account, password, last_login_time, last_login_ip, status)
        values (#{account}, #{password}, #{lastLoginTime}, #{lastLoginIp}, #{status})
    </insert>
    <delete id="delete">
        delete
        from administrator
        where id = #{id};
    </delete>
    <update id="update" parameterType="Administrator">
        update administrator
        <set>
            <if test="account!=null and account!=''">
                account=#{account},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="lastLoginTime!=null and lastLoginTime!=''">
                last_login_time=#{lastLoginTime},
            </if>
            <if test="lastLoginIp!=null and lastLoginIp!=''">
                last_login_ip=#{lastLoginIp},
            </if>
            <if test="status!=null and status!=''">
                status=#{status}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getById" resultType="Administrator">
        select a.*, last_login_time lastLoginTime, last_login_ip lastLoginIp
        from administrator a
        where id = #{id}
    </select>
    <select id="getByAccount" resultType="int">
        select count(0)
        from administrator a
        where account = #{account}
    </select>
    <select id="getAll" resultType="Administrator">
        select a.*, last_login_time lastLoginTime, last_login_ip lastLoginIp
        from administrator a
    </select>
    <select id="getByAccountAndPassword" resultType="administrator">
        select a.*, last_login_time lastLoginTime, last_login_ip lastLoginIp
        from administrator a
        where account = #{account}
          and password = #{password}
    </select>
</mapper>