<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woniu.mybatis.mapper.GoodsMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into goods(isbn, name, category_id, price, salesPrice, image, description, stock, salesNum, newest,
                          hotest, status)
        values (#{isbn}, #{name}, #{category.id}, #{price}, #{salesPrice}, #{image}, #{description}, #{stock},
                #{salesNum}, #{newest}, #{hotest}, #{status})
    </insert>
    <update id="update">
        update goods
        <set>
            <if test="isbn!=null and isbn!=''">
                isbn=#{isbn},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="category!=null and category.id!=0">
                category_id= #{category.id},
            </if>
            <if test="price!=null and price!=''">
                price=#{price},
            </if>
            <if test="salesPrice!=null and salesPrice!=''">
                salesPrice=#{salesPrice},
            </if>
            <if test="image!=null and image!=''">
                image=#{image},
            </if>
            <if test="description!=null and description!=''">
                description=#{description},
            </if>
            <if test="stock!=null and stock!=''">
                stock=#{stock},
            </if>
            <if test="salesNum!=null and salesNum!=''">
                salesNum=#{salesNum},
            </if>
            <if test="newest!=null and newest!=''">
                newest=#{newest},
            </if>
            <if test="hotest!=null and hotest!=''">
                hotest=#{hotest},
            </if>
            <if test="status!=null and status!=''">
                status=#{status}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getById" resultMap="goodsMap">
        select g.*, c.name categoryName, c.id category_id, deleted
        from goods g,
             mall_category c
        where g.id = #{id}
    </select>
    <select id="getByCondition" resultMap="goodsMap">
        select g.*,c.name categoryName,c.id mallcategory_id,deleted from goods g,mall_category c
        where category_id =c.id
            <if test="isbn!=null and isbn!=''">
                and isbn=#{isbn}
            </if>
            <if test="name!=null and name!=''">
                and g.name=#{name}
            </if>
            <if test="category!=null and category.id!=0">
                and category_id= #{category.id}
            </if>
            <if test="price!=null and price!=''">
                and price=#{price}
            </if>
            <if test="salesPrice!=null and salesPrice!=''">
                and salesPrice=#{salesPrice}
            </if>
            <if test="image!=null and image!=''">
                and image=#{image}
            </if>
            <if test="description!=null and description!=''">
                and description=#{description}
            </if>
            <if test="stock!=null and stock!=''">
                and stock=#{stock}
            </if>
            <if test="salesNum!=null and salesNum!=''">
                and salesNum=#{salesNum}
            </if>
            <if test="newest!=null and newest!=''">
                and newest=#{newest}
            </if>
            <if test="hotest!=null and hotest!=''">
                and hotest=#{hotest}
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
    </select>
    <resultMap id="goodsMap" type="goods">
        <id column="id" property="id"/>
        <result column="isbn" property="isbn"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="salesPrice" property="salesPrice"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="stock" property="stock"/>
        <result column="salesNum" property="salesNum"/>
        <result column="newest" property="newest"/>
        <result column="hotest" property="hotest"/>
        <result column="status" property="status"/>
        <association property="category">
            <id column="mallcategory_id" property="id"/>
            <result column="categoryName" property="name"/>
            <result column="deleted" property="deleted"/>
        </association>
    </resultMap>

</mapper>